/* fonts: Raleway bold,Roboto bold,medium,regular,black */
/* main font-Roboto bold ,
secondary font Roboto regular ,third font Roboto,
Roboto medium*/
/* bcg-color #ffffff 
bcg-icon-color #F5F4FA
footer-color #2F303A
accent-color #2196F3 
main-title-font-color #212121
secondary-title-font-color #fffff--f
text-color #757575*/
/* стили веб-студия */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
body,
p,
h1,
h2,
h3,
b {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--main-title-font-color);
  text-decoration: none;
}
:root {
  --bcg-icon-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-title-font-color: #212121;
  --secondary-title-font-color: #ffffff;
  --text-color: #757575;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Roboto" .sans-serif;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-head-style {
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-font-color);
}
.head-style {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
nav {
  display: flex;
  align-items: center;
}
a {
  text-decoration: inherit;
}
/* shapka */
.logo-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--main-title-font-color);
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-header span,
.logo-footer span {
  color: var(--accent-color);
}
.list-nav-item-link {
  display: block;
  transition: color 250ms var(--transition-timing-function);
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-font-color);
}
/* .list-nav-item-link::after {
  position: absolute;
  transition: 250ms var(--transition-timing-function);
  transform: scale(0);
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
} */
.list-nav-item-link:hover::after {
  content: "";
  background-color: var(--accent-color);
  transform: scale(1);
}
.list-nav-item .current {
  color: var(--accent-color);
  position: relative;
  display: block;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
/* .list-nav-item-link .current {
  color: var(--accent-color);
} */
/* .list-nav .current {
  position: relative;
  color: var(--accent-color);
}
.list-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
} */
.list-nav a:hover,
.list-nav a:focus {
  color: var(--accent-color);
}
.list-nav {
  display: flex;
}
.list-nav-item:not(:last-child) {
  margin-right: 50px;
}
/* contacts */

.adress {
  margin-left: auto;
}
.list-adress {
  display: flex;
}
.list-adress-item {
  display: flex;
  align-items: center;
}
.list-adress-item + .list-adress-item {
  margin-left: 30px;
}
.list-adress-item-link {
  transition: 250ms var(--transition-timing-function);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.list-adress-item-link:hover,
.list-adress-item-link:focus {
  color: var(--accent-color);
}

.list-adress-item-link:hover svg,
.list-adress-item-link:focus svg {
  fill: var(--accent-color);
}

.link-svg {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: var(--text-color);
  text-align: center;
}
.phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}
/* hero */
.hero {
  margin: auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 199px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../pictures/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--primary-text-color);
}
.hero-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-font-color);
}
.btn-service {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/* about us */
.list-about-us {
  display: flex;
}
.list-about-us-item:not(:last-child) {
  margin-right: 30px;
}
.list-about-us-img {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-about-us-img-ikon {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 70px;
  height: 70px;
}
.about-us-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-title-font-color);
  text-transform: uppercase;
}
.list-about-us p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.list-about-us li {
  width: 270px;
}

/* what we do */
.what-we-do {
  padding-top: 0;
}
.what-we-do-list {
  display: flex;
}
.what-we-do-secondary-title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  padding: 27px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-title-font-color);
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}
.what-we-do-list-item {
  position: relative;
  width: 370px;
}
.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}
/* our team */
.our-team {
  background: #f5f4fa;
}
.our-team-list {
  display: flex;
  align-items: center;
}
.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-secondary-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-font-color);
}
.our-team p {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}
.our-team-list > li {
  width: 270px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.our-team-list-ikon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.our-team-list-ikon-item-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}
.our-team-list-ikon-item-link:hover,
.our-team-list-ikon-item-link:focus {
  background-color: var(--accent-color);
}
.our-team-list-ikon-item-link:hover svg,
.our-team-list-ikon-item-link:focus svg {
  fill: var(--secondary-title-font-color);
}
.our-team-list-ikon-item-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--transition-timing-function);
}
.our-team-list-ikon-item-link-svg:hover,
.our-team-list-ikon-item-link-svg:focus {
  fill: #ffffff;
}
.our-team-list-ikon-item:not(:last-child) {
  margin-right: 10px;
}
.our-projects-list-item {
  border: 1px solid #eeeeee;
}
.our-projects-list-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
/* regular customers */
.regular-customers {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-title-font-color);
}
.regular-customers-list {
  display: flex;
}
.regular-customers-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.regular-customers-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--transition-timing-function);
}
.regular-customers-list-item-svg {
  transition: fill 250ms var(--transition-timing-function);
}
.regular-customers-list-item:not(:last-child) {
  margin-right: 30px;
}
.regular-customers-list-item-link {
  fill: #afb1b8;
  color: #afb1b8;
}
.regular-customers-list-item-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* footer */
.footer {
  background: #2f303a;
}
.flex-container {
  display: flex;
}
.contacts {
  margin-right: 69px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.join {
  margin-right: 94px;
  padding-top: 72px;
  padding-bottom: 100px;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: var(--secondary-title-font-color);
}
.footer-container > a {
  color: var(--secondary-title-font-color);
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: var(--secondary-title-font-color);
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-container-item {
  margin-left: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-title-font-color);
}
.our-team-list-ikon {
  margin-top: 20px;
}
.our-team-list-ikon-item-link-footer {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--transition-timing-function);
}
.our-team-list-ikon-item-link-svg-footer {
  width: 20px;
  height: 20px;
  fill: var(--secondary-title-font-color);
}
.subscribe-main {
  padding-top: 72px;
  padding-bottom: 94px;
}
/* стилизация страницы портфолио */
/* filter list */
/* our projects */
.filter {
  margin-bottom: 34px;
}
.filter-list-btns {
  display: flex;
  justify-content: center;
}
.filter-btns-item {
  transition: 250ms var(--transition-timing-function);
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--bcg-icon-color);
  border: none;
  border-radius: 4px;
}

.filter-list-btns-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btns-item:hover,
.filter-btns-item:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  color: var(--bcg-icon-color);
  border-radius: 4px;
  border: none;
}
/* our projects */
.our-projects-list-item {
  height: 404px;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.overlay {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 250ms var(--transition-timing-function);
}
.our-projects-list-item:hover .overlay {
  opacity: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}
.techno {
  display: block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-title-font-color);
}
.techno-link {
  width: 370px;
  height: 294px;
}
.title-techno {
  /* margin-top: 20px;
  margin-left: 24px; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-font-color);
}
.category {
  margin-top: 4px;
  /* margin-left: 24px; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.techno-crack {
  padding: 20px 24px;
}
.our-projects {
  display: flex;
  flex-wrap: wrap;
}
.our-projects-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.our-projects-list-item:nth-child(3n) {
  margin-right: 0;
}
.our-projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.title-techno {
  margin-bottom: 4px;
}
.our-works {
  border-top: 1px solid #ececec;
}
/* form-footer */
