.filter {
  margin-bottom: 34px;
}
.filter-list-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter-btns-item {
  transition: 250ms $transition-timing-function;
  padding: 6px 22px;
  @include font(700, 14px, 1.62, 0.03em);
  background-color: $bcg-icon-color;
  border: none;
  border-radius: 4px;
  &:hover,
  &:focus {
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    color: $bcg-icon-color;
    border-radius: 4px;
    border: none;
  }
}

.filter-list-btns-item:not(:last-child) {
  margin-right: 8px;
}
