.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: $secondary-title-font-color;
  span {
    color: $accent-color;
  }
}
.footer-container > a {
  color: $secondary-title-font-color;
}
.address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
  @include font(700, 14px, 1.21em);
  color: $secondary-title-font-color;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-container-item {
  @include font(900, 14px, 1.71, 0.03em);
  color: $secondary-title-font-color;
}
.our-team-list-ikon-footer {
  padding-bottom: 0;
  @extend %center;
}
.our-team-list-ikon-item-link-footer {
  @extend %center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms $transition-timing-function;
}
.our-team-list-ikon-item-link-svg-footer {
  width: 20px;
  height: 20px;
  fill: $secondary-title-font-color;
}
.address-list {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .logo-footer {
    display: block;
    text-align: center;
  }
  .join {
    text-align: center;
  }
  .address {
    text-align: center;
  }
  .our-team-list-ikon-footer {
    padding-bottom: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .join-footer {
    margin-right: 89px;
  }
  .footer {
    background: #2f303a;
  }
  .flex-container {
    display: block;
  }
  .logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: $secondary-title-font-color;
    span {
      color: $accent-color;
    }
  }
  .footer-container > a {
    color: $secondary-title-font-color;
  }
  .address {
    font-style: normal;
    margin-top: 20px;
    @include font(700, 14px, 1.21em);
    color: $secondary-title-font-color;
  }
  .address-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-container-item {
    @include font(900, 14px, 1.71, 0.03em);
    color: $secondary-title-font-color;
  }
  .our-team-list-ikon-footer {
    margin-top: 20px;
  }
  .our-team-list-ikon-item-link-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $transition-timing-function;
  }
  .our-team-list-ikon-item-link-svg-footer {
    width: 20px;
    height: 20px;
    fill: $secondary-title-font-color;
  }
  .address-list {
    font-style: normal;
  }
}
