.subscribe-main {
  display: block;
  justify-content: center;
  text-align: center;
}
.input-footer {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: $secondary-title-font-color;
  &:focus {
    color: $secondary-title-font-color;
  }
}
.btn-footer {
  position: relative;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.mail-btn-svg-footer {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: block;
  width: 24px;
  height: 24px;
}
.subscribe {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .subscribe {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .input-footer {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 767px) {
  .footer-tab {
    display: flex;
  }
}
