.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 480px;
  margin: 0 auto;
}
.menu-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  transform: translateY(-117%);
  transition: all 250ms $transition-timing-function;
  &.is-open {
    transform: translateY(0);
  }
}

.menu-button-mobile {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  line-height: 0;
  &.is-open {
    .icon-close {
      display: block;
      fill: $accent-color;
    }
    .icon-burger {
      display: none;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-close {
  display: none;
}
.logo-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.666;
  letter-spacing: 0.03em;
  color: $main-title-font-color;
  span {
    color: $accent-color;
  }
}
.list-nav-item-link {
  height: 33px;
  transition: color 250ms $transition-timing-function;
  @include font(500, 14px, 1.166, 0.02);
  color: $main-title-font-color;
  &:hover::after {
    content: "";
    background-color: $accent-color;
    transform: scale(1);
  }
}
.list-nav-item .current {
  color: $accent-color;
  position: relative;
  display: inline-block;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;
}
.list-nav {
  & a:hover,
  & a:focus {
    color: $accent-color;
  }
  &-item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.adress {
  font-style: normal;
}
.list-adress {
  padding-top: 60px;
}

.list-adress-item-link {
  transition: 250ms $transition-timing-function;
  @include font(500, 14px, 1.166, 0.02em);
  color: $text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.list-adress-item + .list-adress-item {
  margin-top: 16px;
}
.link-svg {
  width: 16px;
  height: 11px;
  fill: $text-color;
  text-align: center;
  .list-adress-item-link:hover &,
  .list-adress-item-link:focus & {
    fill: $accent-color;
  }
}
.phone {
  width: 10px;
  height: 15px;
}
@media screen and (min-width: 480px) {
}
